.header{
    height: 64px;
    background-color: blue;
    display: flex;
    align-items: center;
}

.header__title{
    font-size: 24px;
    margin-left: 16px;
color: white;
}

.main {
    height: calc(100vh - 64px);
    overflow:hidden;

}
.content{
    overflow-y: auto;
    padding-left: 16px;
}

.content__text {
    margin-top: 16px;
    font-size: 18px;
    margin-top: 2px;
}
.content__value{
    font-size: 14px;
    columns: #555555;
    align-items: center;
    align-self: center;

}
.formulario{
    width: 250px;
    overflow-y: scroll;
}

