.saldo{
    background-repeat: repeat;
    align-items: center;
    background-size: 510vh 510vw;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    

}
.saldo__input{
    margin-bottom: 1rem;


}